body{
    padding: 0;
    margin: 0;
    /* display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; */

}

/* ======= Styling the default parent card ========== */
.parent-card{
    /* background-image: url("https://images.unsplash.com/photo-1605347294501-0f88ac6c5326?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGF1cm9yYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
    /* background-size: cover; */
    background: rgb(208,164,75);
    width: 500px;
    height: 300px;
    border-style: groove;
    border-radius: 50px;
    margin: 10px;
    /* justify-content: center; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: beige;  
}

/* visa image styling */
.visa-dim{
    width:6rem;
    height:3rem;
    margin: 5px;
}

/*  Putting the visa image at the end */
.visa{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

/* Chimp and wifi section styling */
.cardchimp{
    display: flex;
    justify-content:flex-start;
    margin-left: 50px;
}

.chimp-dim{
    width:4rem;
    height:3rem;
    margin: 8px;
}

.wifi-dim{
    width:2.5rem;
    height:3rem;
    margin: 8px;
}

/*  Card number Styling  */

.card-number{
    display: flex;
    width: 180px;
    margin: 0px 45px;
}

.card-number p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 8px;
}

/* .cardwords{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-family: cursive;

}
#text{
    font-size: 20px;
    color: black;
} */