body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
#cardcontainer{
    width: 700px;
    border-style: groove;
    border-radius: 50px;
    margin: 10px;
    justify-content: center;
    color: beige;
    

}
#images{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    
}
#dove{
    width: 100px;
    height: 100px;
    border-radius: 30px;
}
#visa{
    width: 100px;
}
.photos{
    
    justify-content: space-between;
    
}
.cardcontainer{
    width: 300px;
    background-image: url("https://images.unsplash.com/photo-1605347294501-0f88ac6c5326?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGF1cm9yYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    
   
}
#cardnumberdisplay {
    justify-content : center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 15px;
    font-size: 30px;
    box-sizing: border-box;
    margin: 60px;
    padding: 10px;
   
}
.cardwords{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-family: cursive;

}
#text{
    font-size: 20px;
    color: black;
}